.main {
    font-family: Arial, sans-serif;

    .call-btn {
        background-color: transparent;
        padding: 16px;
        border: 3px solid #36335a;
        color: #36335a;
        transition: all 500ms ease-in-out;
        font-weight: 600;
        border-radius: 10px;

        &:hover {
            color: #fff;
            background-color: #36335a;
        }
    }

    .transperent-btn {
        padding: 12px 5px;
        background: transparent;
        color: #fff;
        border: 3px solid #fff;
        border-radius: 10px;
    }

    .top-nav {
        padding: 15px;
        background-color: #36335a;

        .logo-wrap {
            background-color: #ffffff;
            width: fit-content;
            border-radius: 10px;
            padding: 0 10px;
            //width: 250px;
        }

        .btn-wrap {
            width: fit-content;
            margin-left: auto;
        }
    }

    .top-main {
        color: #fff;
        background-color: #36335a;
        //background: url('../assets/img/pngwing.com.png');
        padding: 30px 0 0;


        .main-img-wrap {
            img {
                margin-left: auto;
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .all-txt-wrap {
            .small-title {
                margin-bottom: 15px;
                font-size: 18px;
                font-weight: 600;
                color: #f5f5f5;
            }

            .title {
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: 800;
                color: #f5f5f5;
                line-height: normal;
            }

            .p14 {
                margin-bottom: 25px;
                font-size: 18px;
                color: #f5f5f5;
                font-weight: 500;
            }
        }
    }

    .btn-section {
        padding: 40px 0;

        .all-wrap {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .item {
                padding: 10px 0;
                text-align: center;
                flex: 1 1 33.33%;
                max-width: 33.33%;

                img {
                    max-width: 70px;
                }

                .txt {
                    margin-top: 10px;
                    font-size: 20px;
                    line-height: normal;
                }
            }
        }

    }

    .txt-section {
        background-color: #dededf;
        padding: 80px 0 40px;

        .title {
            max-width: 80%;
            margin: 0 auto 30px;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            line-height: normal;
        }

        .sub-title {
            max-width: 80%;
            margin: 0 auto 50px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }

        .card-wrap {
            border: 2px solid #fff;
            padding: 20px;
            margin: auto;
            margin-bottom: 20px;
            min-height: 200px;

            .icon {
                margin-bottom: 10px;

                .svg-icon {
                    max-width: 30px;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

            .card-title {
                font-size: 20px;
                color: #0a0a0a;
                font-weight: 600;
                line-height: 1.6em;
            }

            .p-card {
                font-size: 16px;
            }
        }

        .btn-wrap {
            margin: 20px auto 25px;
            max-width: fit-content;
        }
    }

    .worries-section {
        background-color: #f5f5f5;
        padding: 60px 0 40px;

        .title {
            font-size: 28px;
            margin-bottom: 15px;
            color: #0a0a0a;
            text-align: center;
            font-weight: 600;

            &.red {
                font-size: 26px;
                color: #36335a;
                margin-bottom: 30px;
                margin-top: 15px;
            }
        }

        .sub-title {
            font-size: 16px;
            margin-bottom: 40px;
            text-align: center;
            color: #424344d9;
        }

        .card-wrap {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 0px;
            border: none;
            background-color: #fff;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-radius: 10px;
            min-height: 225px;

            .points-main {
                padding: 20px;
                max-width: fit-content;
                background: #cdcae7;
                color: #36335a;
                font-size: 40px;
                margin-bottom: 15px;
                border-radius: 10px 0 50% 0;

                .count {
                    line-height: 44.5px;
                }
            }

            .card-title {
                color: #0a0a0a;
                font-weight: 600;
                text-align: center;
                padding: 0 10px;
                margin-bottom: 10px;
                font-size: 20px;
            }

            .p-16 {
                font-size: 16px;
                font-weight: 500;
                padding: 0 20px 30px;
                color: #5e5f60;
                margin-bottom: 0;
                text-align: center;
            }
        }

        .mid-txt {
            margin: 25px 0;
            color: rgba(66, 67, 68, 0.85);
            font-style: italic;
            font-weight: 600;
            text-align: center;
            font-family: "Times New Roman", Times, serif;
            font-size: 22px;
        }

        .btn-wrap {
            margin: 20px auto 25px;
            max-width: fit-content;
        }
    }

    .grow-section {
        .grow-card {
            height: 100%;
            border-radius: 10px;
        }
    }

    .about {
        padding: 50px 0;
        background: #fbfbfb;

        .about-img-wrap {
            overflow: hidden;

            img {
                width: 80%;
                margin: 0 auto;
                display: block;
                border-radius: 15px;
            }
        }

        .title {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 25px;

            span {
                color: #36335a;
            }
        }

        .social-icon-wrap {
            display: flex;
            gap: 25px;
            margin-bottom: 30px;
            align-items: baseline;

            .icon {
                width: 20px;
                color: #5f5959;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .para-wrap {
            p {
                margin-bottom: 15px;
            }
        }
    }

    .testimonal {
        padding: 40px 0 60px;

        .small-title {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            color: red;
            margin-bottom: 20px;
        }

        .title {
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 60px;
        }

        .card-wrap {
            padding: 40px;
            border: 1px solid rgb(238, 238, 238);
            display: flex;
            gap: 30px;
            margin-bottom: 25px;

            .img-wrap {
                flex: 0 0 76px;
                max-width: 76px;

                .user-img-o {
                    max-width: 76px;
                    border-radius: 50px;
                    border: 2px solid red;
                    aspect-ratio: 1/1;
                    margin-bottom: 15px;

                    img {
                        aspect-ratio: 1/1;
                        object-fit: contain;
                        border-radius: 50%;
                    }
                }

                .coma {
                    margin: 0 auto;
                    width: 30px;

                    svg {
                        fill: rgb(230, 230, 230);
                    }
                }
            }

            .txt-wrap {
                flex: 1 1 calc(100% - 76px);
                max-width: calc(100% - 76px);

                .p14 {
                    font-size: 16px;
                    margin-bottom: 25px;
                    color: rgba(66, 67, 68, 0.85);
                }

                .name {
                    font-size: 16px;
                    color: #0a0a0a;
                    font-weight: 600;
                }

                .industry {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    font-size: 12px;
                    color: red;
                }
            }
        }

        .btn-wrap {
            margin: 20px auto 0;
            max-width: fit-content;
        }
    }

    .video-section {
        padding: 40px 0;

        .card {
            // aspect-ratio: 1/1;
            height: auto;

            .card-body {
                height: 350px;

                .embed-responsive {
                    height: calc(100% - 25px);
                }
            }
        }
    }

    .footer {
        padding: 40px 0 20px;
        background: rgb(12, 17, 21);
        color: rgba(255, 255, 255, 0.6);

        .footer-title {
            color: rgba(255, 255, 255, 0.3);
            text-transform: uppercase;
            font-size: 13px;
            margin-bottom: 15px;
        }

        ul {
            list-style: none;
            padding-inline-start: 0;

            li {
                margin-bottom: 8px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;

                .icon {
                    margin-right: 6px;
                }
            }
        }

        .socal-wrap {
            display: flex;
            gap: 10px;

            .icon {
                border-radius: 50%;
                background: #242323;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
            }
        }

        .copy-right-txt {
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            padding: 20px 0;
            text-align: center;
        }
    }

    /* Style for the popup overlay */
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Style for the popup box */
    .popup-box {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        width: 300px;
        max-width: 90%;
        text-align: center;
        position: relative;
        animation: fadeIn 0.3s ease-out;
    }

    /* Style for the form */
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .required {
        font-size: 12px;
    }

    label {
        margin-top: 10px;
        display: block;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        align-self: center;
    }

    button.close {
        position: absolute;
        top: -15px;
        right: -15px;
        background-color: rgb(255 255 255 / 80%);
        color: #888;
        font-size: 25px;
        border: 1px solid #888;
        cursor: pointer;
        padding: 0;
        margin: 0;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(0.8);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}