<div class="main">
  <section class="top-nav">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="logo-wrap">
            <img src="../assets/img/logo.png" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="btn-wrap">
            <button class="transperent-btn" (click)="openPopup()">
              Grow Your Business Exponentially
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="top-main">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 my-auto">
          <div class="all-txt-wrap">
            <h6 class="small-title">
              Grow Your Business With One On One Business Coaching For 1 Year
            </h6>
            <h5 class="title">
              Most Of The Service Providers Are Struggling To Increase Their
              Revenue Even After Working So Hard For So Many Years,
            </h5>
            <p class="p14">
              I Am A Certified International Business Coach, I Work With Growth
              Minded Service Providers & Help Them To Learn Marketing & Sales
              Strategies And Tools To Double Their Revenue So That They Can
              Enjoy Stress Free Continuous Growth In Their Business.
            </p>
            <button class="transperent-btn" (click)="openPopup()">
              Schedule A Free Call To Grow Your Business
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="main-img-wrap">
            <img src="../assets/img/mainImg.png" alt="" class="img-flid" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="btn-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="all-wrap">
            <div class="item">
              <div class="icon-wrap">
                <img
                  src="../assets/img/customer.png"
                  alt=""
                  class="img-fluid"
                />
                <div class="txt">
                  Grow Your <br />
                  Customer
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon-wrap">
                <img src="../assets/img/revenue.png" alt="" class="img-fluid" />
                <div class="txt">
                  Grow Your <br />
                  Revenue
                </div>
              </div>
            </div>
            <div class="item">
              <div class="icon-wrap">
                <img src="../assets/img/profit.png" alt="" class="img-fluid" />
                <div class="txt">
                  Grow Your <br />
                  Profits
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="txt-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h5 class="title">
            Are You Worried, frustrated And Tired About Your Business Not
            Growing Exponentially?
          </h5>
          <!-- <h6 class="sub-title">
            In our experience of dealing with over 7000 businesses, we see a lot
            of entrepreneurs go through some of these following situations!
          </h6> -->
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-12 col-md-6 col-lg-4"
          *ngFor="let data of growYourBusiness"
        >
          <div class="card-wrap">
            <div class="icon">
              <div class="svg-icon">
                <img [src]="data?.IMG" alt="" />
              </div>
            </div>
            <h6 class="card-title">{{ data?.TITLE }}</h6>
            <p class="p-card">
              {{ data?.MAIN }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="btn-wrap">
            <button class="call-btn" (click)="openPopup()">
              Schedule A Free Call To Grow Your Business
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="worries-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="title red">
            Your Worries End Here!
            <br />
            There Is A Proven System That Can Help You To Grow Your Business
            Through Our One On One Business Coaching Programme
          </h3>
          <h3 class="title mb-5">
            {{ worryData.length }} Simple Steps To Grow Your Business To It's
            Fullest Potential, Fast!
          </h3>
          <!-- <h6 class="sub-title">
            End the pain and misery of growing your business alone, by putting
            in more effort, energy and struggling all alone
          </h6> -->
        </div>
        <div
          class="col-12 col-md-6 col-lg-4 mx-auto"
          *ngFor="let data of worryData; let i = index"
        >
          <div class="card-wrap">
            <div class="points-main">
              <div class="count">0{{ i + 1 }}</div>
            </div>
            <h5 class="card-title">{{ data?.TITLE }}</h5>
            <p class="p-16">
              {{ data?.MAIN }}
            </p>
          </div>
        </div>
        <div class="col-12">
          <h3 class="mid-txt">
            If you keep doing what you are doing, you will keep getting what you
            are getting
            <br />
            To get bigger & better results in your business, you must learn and
            apply something new
          </h3>
          <div class="btn-wrap">
            <button class="call-btn" (click)="openPopup()">
              Schedule A Free Call To Grow Your Business
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="grow-section txt-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="title red">
            3 Simple Steps To Grow Your Business
            <br />
            To Its Fullest Potential !
          </h3>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div
          class="col-12 col-md-6 col-lg-4 mx-auto"
          *ngFor="let data of growBusiness"
        >
          <div class="grow-card card-wrap">
            <h6 class="grow-title card-title text-center">{{ data?.TITLE }}</h6>
            <ul>
              <li *ngFor="let x of data.POINTS">
                {{ x.POINT }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="btn-wrap">
            <button class="call-btn" (click)="openPopup()">
              Schedule A Free Call To Grow Your Business
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="about-img-wrap">
            <img src="../assets/img/aboutImg.jpeg" alt="" class="img-fluid" />
          </div>
        </div>
        <div class="col-12 col-md-6 my-auto">
          <h5 class="title">About <span>Me.</span></h5>
          <div class="social-icon-wrap">
            <div
              class="icon facebook"
              role="button"
              (click)="onClickSocial('facebook')"
            >
              <svg viewBox="0 0 264 512">
                <path
                  d="M215.8 85H264V3.6C255.7 2.5 227.1 0 193.8 0 124.3 0 76.7 42.4 76.7 120.3V192H0v91h76.7v229h94V283h73.6l11.7-91h-85.3v-62.7c0-26.3 7.3-44.3 45.1-44.3z"
                ></path>
              </svg>
            </div>
            <div
              class="icon insta"
              role="button"
              (click)="onClickSocial('instagram')"
            >
              <svg viewBox="0 0 448 512">
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                ></path>
              </svg>
            </div>
            <div
              class="icon linkiden"
              role="button"
              (click)="onClickSocial('linkedin')"
            >
              <svg viewBox="0 0 448.1 512">
                <path
                  d="M100.3 448H7.4V148.9h92.9V448zM53.8 108.1C24.1 108.1 0 83.5 0 53.8S24.1 0 53.8 0s53.8 24.1 53.8 53.8-24.1 54.3-53.8 54.3zM448 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448h-.1z"
                ></path>
              </svg>
            </div>
          </div>
          <div class="para-wrap">
            <div class="">
              I Am An International Business Coach.I Work With Growth Minded
              Service Providers Including:
              <ul>
                <li>Architects & Interior Designers</li>
                <li>IT Consultants</li>
                <li>Software Developers</li>
                <li>Web & Social Media Consultants</li>
              </ul>
            </div>
            <p>
              I Am Passionate About Transforming People And Businesses. I Am
              Also A Certified Transformation Coach & I Have Been Personally
              Trained By America’s Leading Success Coach, Mr. Jack Canfield,
              Co-author Of The International Best Seller “Chicken Soup For The
              Soul” And The Success Principles”.
            </p>
            <p>
              I Am An Electronics & Telecommunication Engineer From Mumbai
              Univeristy Having A Wide Range Of Experience On International
              Level In Areas Like Telecom Operations, Project Management,
              Service Delivery, And Resource Management
            </p>
            <!-- <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
              voluptatum modi, tempore harum asperiores porro nisi obcaecati
              exercitationem deleniti velit.
            </p> -->
            <p>
              My Vision Is “To Educate, Train & Motivate 1 Lac Sme’s Across Pan
              India To Win & Achieve Their Business Goal By Adding A True Value
              By Dec’2032”
            </p>
            <!-- <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio
              voluptatum modi, tempore harum asperiores porro nisi obcaecati
              exercitationem deleniti velit.
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonal">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h6 class="small-title">TESTIMONIALS</h6>
          <h3 class="title">Check What Our Clients Say About Us</h3>
        </div>
        <div class="col-12 col-md-6" *ngFor="let data of testimonialsData">
          <div class="card-wrap">
            <div class="img-wrap">
              <div class="user-img-o">
                <img
                  [src]="data?.IMG"
                  onerror="this.src='../assets/img/defaultUser.png'"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div class="coma">
                <svg viewBox="0 0 512 512">
                  <path
                    d="M176 32H64C28.7 32 0 60.7 0 96v128c0 35.3 28.7 64 64 64h64v24c0 30.9-25.1 56-56 56H56c-22.1 0-40 17.9-40 40v32c0 22.1 17.9 40 40 40h16c92.6 0 168-75.4 168-168V96c0-35.3-28.7-64-64-64zm32 280c0 75.1-60.9 136-136 136H56c-4.4 0-8-3.6-8-8v-32c0-4.4 3.6-8 8-8h16c48.6 0 88-39.4 88-88v-56H64c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32h112c17.7 0 32 14.3 32 32v216zM448 32H336c-35.3 0-64 28.7-64 64v128c0 35.3 28.7 64 64 64h64v24c0 30.9-25.1 56-56 56h-16c-22.1 0-40 17.9-40 40v32c0 22.1 17.9 40 40 40h16c92.6 0 168-75.4 168-168V96c0-35.3-28.7-64-64-64zm32 280c0 75.1-60.9 136-136 136h-16c-4.4 0-8-3.6-8-8v-32c0-4.4 3.6-8 8-8h16c48.6 0 88-39.4 88-88v-56h-96c-17.7 0-32-14.3-32-32V96c0-17.7 14.3-32 32-32h112c17.7 0 32 14.3 32 32v216z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="txt-wrap">
              <p class="p14">
                {{ data?.MAIN }}
              </p>
              <div class="name">{{ data?.NAME }}</div>
              <div class="industry">{{ data?.DESC }}</div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="btn-wrap">
            <button class="call-btn" (click)="openPopup()">
              Schedule A Free Call To Grow Your Business
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="video-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  width="100%"
                  height="100%"
                  src="https://www.youtube.com/embed/jyrT5cL1QHE?si=xCHWNNDnOSh2Gbsz"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <h5 class="card-title">
                Testimony || Grow Your Business 5X || Subhaway
              </h5>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe
                  width="100%"
                  height="100%"
                  src="https://www.youtube.com/embed/MbkkFs6UUHY?si=AMVrpHqHXoDp3Izd"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen
                ></iframe>
              </div>
              <h5 class="card-title">Grow Your Business 5X || Subhaway</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
          <div class="footer-title">CONTACT</div>
          <ul>
            <li>
              <span class="icon"
                ><i class="fa fa-map-marker" aria-hidden="true"></i
              ></span>
              Address:902,Aum Shree CHS,Plot
              No-28,Sector-4,Karnjade,Panvel-410206
            </li>
            <li>
              <a href="tel:+919702376872">
                <span class="icon"
                  ><i class="fa fa-phone" aria-hidden="true"></i></span
                >+91-9702376872
              </a>
            </li>
            <li>
              <a href="mailto:subhash.wangde@gmail.com">
                <span class="icon"
                  ><i class="fa fa-envelope" aria-hidden="true"></i
                ></span>
                subhash.wangde@gmail.com
              </a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
          <div class="footer-title">SOCIAL</div>
          <div class="socal-wrap">
            <div
              class="icon facebook"
              (click)="onClickSocial('facebook')"
              role="button"
            >
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div
              class="icon twitter"
              (click)="onClickSocial('linkedin')"
              role="button"
            >
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
            <div
              class="icon print"
              (click)="onClickSocial('instagram')"
              role="button"
            >
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
            <div
              class="icon youtube"
              (click)="onClickSocial('youtube')"
              role="button"
            >
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="copy-right-txt">
            Copyright 2023 Shubhaway Development Academy, all rights reserved.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="popup-overlay" id="popup" *ngIf="isPopup">
    <div class="popup-box">
      <button class="close" (click)="closePopup()">&times;</button>
      <h2>Contact Form</h2>
      <form [formGroup]="contactForm">
        <label for="name">Name:</label>
        <input
          type="text"
          id="name"
          name="from_name"
          required
          formControlName="name"
        />
        <div
          class="required text-danger"
          *ngIf="
            formValidationStateContactUs['name']?.errors?.['required'] &&
            isFormSubmit
          "
        >
          Name is required
        </div>

        <label for="email">Email ID:</label>
        <input
          type="email"
          id="email"
          name="from_email"
          required
          formControlName="email"
        />
        <div class="required text-danger">
          <ng-container
            *ngIf="
            formValidationStateContactUs['email']?.errors?.['required'] &&
            isFormSubmit
          "
          >
            Email is required
          </ng-container>
          <ng-container
            *ngIf="
            formValidationStateContactUs['email']?.errors?.['email'] &&
            isFormSubmit
          "
          >
            Please Check your Email
          </ng-container>
        </div>

        <label for="mobile">Mobile No:</label>
        <input
          type="tel"
          id="mobile"
          name="from_mobile"
          required
          formControlName="mobile"
        />

        <div class="required text-danger">
          <ng-container
            *ngIf="
            formValidationStateContactUs['mobile']?.errors?.['required'] &&
            isFormSubmit
          "
          >
            Mobile no. is required
          </ng-container>
          <ng-container
            *ngIf="
            formValidationStateContactUs['mobile']?.errors?.['pattern'] &&
            isFormSubmit
          "
          >
            Please Check your Mobile No.
          </ng-container>
        </div>

        <button type="submit" (click)="submitForm()">Submit</button>
      </form>
    </div>
  </div>
</div>
